@import url("http://fonts.googleapis.com/css?family=Merriweather:700");
$header-font-family:'Merriweather',serif;
$body-font-family:"Open Sans",Helvetica,Arial,sans-serif;
$blue:#536d83;
$light-brown:#aa8f79;
$brown:#a08269;