@import 'variables';

header {
  h1 {
    a {
      color:$blue;
      text-decoration:none;
      &:hover {
        text-decoration:underline;
      }
    }
  }
}

nav {
  text-transform:uppercase;
  border-bottom:2px solid $light-brown;
  padding-bottom:15px;
  li {
    display:inline;
    a {
      text-decoration: none;
      padding:15px;
      color:$light-brown;
      &:hover {
        background-color:#e7e0da;
        color:$brown;
      }
    }
  }
}

body {
  font-family:$body-font-family;
  background-color:$bg-color;
}

footer {
  color:$blue;
}
// ---- START HELPER CLASSES ---- //
.center { text-align:center; }
.leftfloated { float:left; }
.rightfloated { float:right; }
.left-align { text-align:left; }
.right-align { text-align:right; }
.no-margin { margin:0; }
// Easily make full-width elements
@mixin full-width {width:100%; margin:0 auto; overflow:hidden;}
// ---- END HELPER CLASSES ---- //

h1,h2,h3,h4,h5,h6 {
  color:$blue;
  font-family:$header-font-family;
  -webkit-font-smoothing:antialiased;
  -moz-font-smoothing:antialiased;
  font-smoothing:antialiased;
}

* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
  margin:0;
  padding:0;
}