@import 'variables';

header {
  h1 {
    padding:1.5em;
    a {
      color:$blue;
      text-decoration:none;
      &:hover {
        text-decoration:underline;
      }
    }
  }
}

nav {
  text-transform:uppercase;
  border-bottom:2px solid $light-brown;
  padding-bottom:15px;
  li {
    display:inline;
    a {
      text-decoration: none;
      padding:15px;
      color:$light-brown;
      &:hover {
        background-color:#e7e0da;
        color:$brown;
      }
    }
  }
}

body {
  font-family:$body-font-family;
  color:$body-font-color;
  background-color:$bg-color;
  a {
    color:$blue;
    text-decoration:none;
    &:hover {
      text-decoration:underline;
    }
  }
}

hr {
  border-top: 1px solid $brown;
  border-bottom:none;
  border-left:none;
  border-right:none;
  text-align:center;
  margin:1em;
  &:after {
    content: '\002665';
    display:inline-block;
    position:relative;
    top:-14px;
    padding:0 10px;
    background:$bg-color;
    color:$brown;
    font-size:24px;
  }
}

footer {
  color:$blue;
}
// ---- START HELPER CLASSES ---- //
.center { text-align:center; }
.leftfloated { float:left; }
.rightfloated { float:right; }
.left-align { text-align:left; }
.right-align { text-align:right; }
.no-margin { margin:0; }
// Easily make full-width elements
@mixin full-width {width:100%; margin:0 auto; overflow:hidden;}
// ---- END HELPER CLASSES ---- //

h1,h2,h3,h4,h5,h6 {
  color:$blue;
  font-family:$header-font-family;
  -webkit-font-smoothing:antialiased;
  -moz-font-smoothing:antialiased;
  font-smoothing:antialiased;
}

* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
  margin:0;
  padding:0;
}
