<footer>
  <div class="container">
    <div class="row">
      <div class="span12 center">
        <hr>
        <% %w(facebook twitter).each do |social| %>
          <%= fa_icon "#{social} 2x" %>
        <% end %>
        <%= link_to fa_icon('instagram 2x'), "https://www.instagram.com/ys_emma/" %>
        <br><br>
        <%= t('website') %> &copy; Copyright <%= Time.zone.now.year %>. All rights reserved.
      </div>
    </div>
  </div>
</footer>
